# Flask stuff
flask < 0.11.0
flask-sqlalchemy
flask-alembic
flask-script

# Awesome Python REPL
ipython >= 5
ipdb

# SQLAlchemy
psycopg2                # PostgreSQL driver

# Some generally useful things every project should have
pytz
tzlocal
pycountry

# Auth stuff
PyJWT
cryptography >= 1.3
passlib

# Test stuff
pytest
pytest-flask
pytest-colordots
pytest-spec
pytest-cov
vcrpy
httpretty

# Model factories
factory-boy
fake-factory

# deployment stuff
gunicorn
